@charset "UTF-8";
/* CSS Document */

body {
	position: relative;
		
}

header {
	position: relative;
	
}

nav {
	position: relative;
	align-content: stretch;
		
}

nav {
	
}

section {
	
	
}

figure {
	float: left;
	
	
}

article {
	
	
}

blockquote {
	color: hsla(219,98%,48%,1.00);
	border-color: 1px hsla(0,0%,0%,1.00);
	
	
}

footer {
	
	
}

figcaption {
	
	
}

p {
	
	
}

ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0em 3em;
	background-color: hsla(340,6%,90%,0.89);
	border: thin;
	border-color: hsla(0,0%,0%,1.00);
	 
}

a {
	text-decoration: none;
	color: hsla(0,0%,0%,1.00);
}

a:hover {
	color: hsla(231,93%,49%,1.00);
	text-shadow: 1px 1px #000000;
	
}

h1 {
	color: hsla(0,0%,0%,1.00);
	text-shadow: 2px 2px #A19D9D;
}

h2 {
	position: 2px relative;
	
}